daemon off;

user  www-data;

worker_processes  auto;
error_log /dev/stderr info;

events {
    worker_connections  4096;
}

http {
    include       mime.types;
    server_tokens off;
    default_type  application/octet-stream;
    client_max_body_size 32m;
    access_log  /dev/stdout;
    sendfile        on;
    keepalive_timeout  65;

    server {
        listen 80;
        access_log /dev/stdout;
        error_log /dev/stderr debug;

        location / {
            auth_basic "Restricted";
            auth_basic_user_file /etc/nginx/.htpasswd;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            client_max_body_size 10m;
            client_body_buffer_size 128k;
            proxy_connect_timeout 90;
            proxy_send_timeout 90;
            proxy_read_timeout 90;
            proxy_buffers 32 4k;
            
            proxy_pass {{ getenv "HTTP_BACKEND" }};
        }
    }
}
